.row
  .col.s12
    .card.blue.darken-2.white-text
      .card-content
        %h3 Collective Bias, an Inmar Company
.row
  .col.s12
    .card
      .card-content
        .card-title.grey-text.text-darken-1 Leadership and Experience
        Collective Bias provides a cutting edge platform for connecting influencers with brands,
        and runs massive marketing campaigns for brands you use every day. As senior software 
        engineer, I oversee a small team of engineers and build out a platform for a field that
        changes every day. From web scraping, complex OAuth workflows, microservices, to Kubernetes,
        my team works with a variety of technologies to keep our sites highly available, secure,
        and cutting edge.
      .card-action
        %a{href: 'https://collectivebias.com'} See what we do!
  .col.s12
    .card
      .card-content
        .card-title.grey-text.text-darken-1 Technologies and skills
        %ul.collection
          %li.collection-item 
            %strong.orange-text.text-darken-4 Kubernetes:
            Wrote complex deployments and maintained our clusters
          %li.collection-item 
            %strong.orange-text.text-darken-4 Docker:
            Migrated all of our systems to docker containers
          %li.collection-item 
            %strong.orange-text.text-darken-4 Ruby on Rails:
            Most of our systems are microservices written in Rails 4 or 5
          %li.collection-item 
            %strong.orange-text.text-darken-4 Sidekiq:
            Our background worker system of choice. You name, we've run it in a worker
          %li.collection-item 
            %strong.orange-text.text-darken-4 Golang:
            High performance systems are re-written in Go as needed
          %li.collection-item 
            %strong.orange-text.text-darken-4 Facebook Graph API:
            Constant work on integrating and collecting data from Facebook
          %li.collection-item 
            %strong.orange-text.text-darken-4 Codefresh:
            Wrote a majority of the CI/CD scripts for our Kuberenetes ops pipelines
          %li.collection-item 
            %strong.orange-text.text-darken-4 Postgres:
            Used daily as our datastore of choice and for writing reports
          %li.collection-item 
            %strong.orange-text.text-darken-4 Redis:
            Both our backend for Sidekiq and our datastore for high-performance access

.row
  .col.s12
    .card.blue.darken-2.white-text
      .card-content
        %h3 ATLAS Technology Group
.row
  .col.s12.m6
    .card.small
      .card-content
        .card-title.grey-text.text-darken-1 Experience
        Worked with the core development team to support the Business Intelligence teams, supporting
        and extending our AdHoc big data query tools and massive data repositories. This included
        intensive backend work and meticulous frontend development practices.
  .col.s12.m6
    .card.small
      .card-content
        .card-title.grey-text.text-darken-1 Technologies and skills
        %ul.collection
          %li.collection-item Code review
          %li.collection-item Migration from JavaScript to TypeScript
          %li.collection-item Intensive work with MS SQL Server and HP Vertica
          %li.collection-item Wrote internal data migration tools between database systems

.row
  .col.s12
    .card.blue.darken-2.white-text
      .card-content
        %h3 Slipstream Creative
.row
  .col.s12.m6
    .card.small
      .card-content
        .card-title.grey-text.text-darken-1 Experience
        Developed, maintained and deployed enterprise software for drag-and-drop website development,
        powerful SEO, distributed APIs, and video syndication.
  .col.s12.m6
    .card.small
      .card-content
        .card-title.grey-text.text-darken-1 Technologies and skills
        %ul.collection
          %li.collection-item Collaborative development with source control and a distributed team
          %li.collection-item 
            Consistent and effective documentation for both user and developer facing components
          %li.collection-item Work with third parties and their APIs to integrate our products


.row
  .col.s12
    .card.blue.darken-2.white-text
      .card-content
        %h3 Cynlogic
.row
  .col.s12.m6
    .card
      .card-content
        .card-title.grey-text.text-darken-1 Experience
        Used the C# MVC Framework, Entity Frameworks, AngularJS, and Twitter bootstrap to develop a 
        modern web interface for managing bail bonds, named "DigitalBondsman." Implemented everything
        from real time searches to asynchronous file uploads. Worked closely with a team and bail 
        bond professionals to tailor the interface and features to the needs of the market.
  .col.s12.m6
    .card
      .card-content
        .card-image
          %img{src: '/companyEdit.png'}
        .center Digital Bondsman in action

.row
  .col.s12
    .card.blue.darken-2.white-text
      .card-content
        %h3 Miscellaneous

.row
  .col.s12.m6
    .card.small
      .card-content
        .card-title.grey-text.text-darken-1 IT Services at Fayetteville Psychotherapy Associates
        Applied critical updates, fixed networking issues, and rolled out critical security updates 
        to maintain HIPAA compliance. Provided support/updates from Windows XP up to Windows 10, and
        helped manage software installation and security software. Also provided on-site and on-call 
        user support.
  .col.s12.m6
    .card.small
      .card-content
        .card-title.grey-text.text-darken-1 Neural Network Research at the University of Arkansas Machine Learning Lab 
        Applied higher level mathematics, C++, algorithms, and efficient programming techniques to 
        research, implement, and extend deep neural network machine learning. This included testing 
        expiremental multi-threaded training algorithms and implementing entirely new network 
        training techniques.
        
