
%h3#experience
  %i.material-icons group
  Experience

%blockquote The walk to back up the talk.

= haml :_experience

%h3#tools 
  %i.material-icons build
  Tools

%blockquote What I use to build software.

= haml :_tools

%h3#projects 
  %i.material-icons drafts
  Projects

%blockquote
  These are unfinished, hobby projects I've built on the side, dating all the way back to high 
  school.

= haml :_projects

%h3#about-me
  %i.material-icons info
  About Me

%blockquote
  A biography and some contact information.

= haml :_about_me
