!!!
%html
  %head
    %title Austin Bittinger - 16bittdevelopment
    %link{rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'}
    %link{rel: 'stylesheet', href: 'https://fonts.googleapis.com/icon?family=Material+Icons'}
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'}
  %body
    .navbar-fixed
      .nav-wrapper
        %nav#header.blue.darken-2
          %a.brand-logo.center{href: '#', style: 'font-weight: 100'} 16Bitt Development
          %ul#nav-mobile.right.hide-on-med-and-down
            %li
              %a{href: '#experience'} Experience
            %li
              %a{href: '#tools'} Tools
            %li
              %a{href: '#projects'} Projects
    #body.container
      = yield
