.row
  .col.s12.m5
    .card
      .card-content
        .card-image
          %img{src: '/profile.jpg'}
  .col.s12.m7
    .card
      .card-content
        My name is Austin Bittinger and I am a self-taught programmer from Fayetteville, Arkansas. 
        What started as writing calculator programs to solve the quadratic equation in the seventh 
        grade, quickly changed to writing assembly code and C within a couple of years. I'm an Eagle
        Scout, and I apply my leadership and work ethic to programming day in and day out. From web 
        design, to machine learning on supercomputers, to operating systems programming, I love to
        build things. What can I build for you?
    .card
      .card-content
        .card-title.grey-text.text-darken-2 Contact Info
        %strong.orange-text.text-darken-4 Phone Number:
        (479) 287-1937
        %br
        %strong.orange-text.text-darken-4 Email:
        austin@16bittdevelopment.com
      .card-action
        %a{href: 'https://github.com/16bitt'} Github
        %a{href: 'https://www.linkedin.com/in/austinbittinger/'} LinkedIn
